extends layout.pug

block content
  div(class="font-semibold font-title") Your recent books
  each book, index in recents
    div   
      p #{index}
      p #{book.author}
      p #{book.description}
      -var url = book.image;
      img(src="https://www.w3schools.com/images/lamp.jpg")
  
