extends layout.pug

block content
  div(class="font-semibold font-title") Searched book
  -var book = db.recents[search]
  if (typeof book !== 'undefined')
    div
    h2 #{book.title}
    h2 #{book.author}
    p #{book.description}
  else
    div
    h2 This book does not exist.